Repository swscherrer/MyFirstRepository: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI.yml, pipelines/DocCI.yml

pipelines/CI.yml:

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src
      - pipelines/CI.yml

pool:
  vmImage: 'ubuntu-latest'


variables:
  Solution: '**/*.sln'
  BuildConfiguration: 'Release'

steps:

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: 'restore'
    projects: $(Solution)
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    projects: $(Solution)
    arguments: '--configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Publish
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'MyFirstRepository-CI-drop'
    publishLocation: 'Container'

pipelines/DocCI.yml:

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src
      - tests
      - pipelines/DocsCI.yml

pool:
  vmImage: 'windows-latest'


variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: 'restore'
    projects: $(solution)
    feedsToUse: 'select'

- task: DocFxTask@0
  displayName: 'Create DocFx Documentation'
  inputs:
    solution: 'docs/docfx.json'

Added displayName for PublishBuildArtifacts task.
  pipelines/CI.yml
Due: pipelines/CI.yml

Changed Restore verbosity to Normal. Removed unnecessary single quotes.
  pipelines/CI.yml
Due: pipelines/CI.yml

Removed unnecessary single quotes.
  pipelines/DocsCI.yml
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: pipelines/DocCI.yml

Revert "Changed Restore verbosity to Normal. Removed unnecessary single quotes."
  pipelines/CI.yml
Due: pipelines/CI.yml

Turned off PR trigger for CI builds.
  pipelines/CI.yml
  pipelines/DocsCI.yml
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: pipelines/CI.yml, pipelines/DocCI.yml

Putting back single quotes that are necessary.
  pipelines/DocsCI.yml
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: pipelines/DocCI.yml

Set Restore verbosity level to Normal.
  pipelines/CI.yml
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: pipelines/CI.yml

Updated ReadMe to show build status of all CI builds.
  README.md
Due: none

Configured Application Insights as a connected service.
  src/MyFirstRepository.Web/Connected Services/Application Insights/ConnectedService.json
  src/MyFirstRepository.Web/MyFirstRepository.Web.csproj
  src/MyFirstRepository.Web/appsettings.json
Due: pipelines/CI.yml, pipelines/DocCI.yml

Updated NuGet packages to the latest version.
  tests/FunctionalTests/FunctionalTests.csproj
  tests/IntegrationTests/IntegrationTests.csproj
  tests/UnitTests/UnitTests/UnitTests.csproj
Due: pipelines/DocCI.yml

Added license badge.
  README.md
Due: none

Updated builds to use Coverlet coverage tool. Defined variables for clarity. Merging coverage reports.
  pipelines/CI.yml
  pipelines/DocsCI.yml
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: pipelines/CI.yml, pipelines/DocCI.yml

Removed Sonar quality build breaker.
  pipelines/PullRequest.yml
Due: none

Fixed bugs with test results directory.
  pipelines/PullRequest.yml
  pipelines/SonarCI.yml
Due: none

Fixed having the UnitTests project within a subdirectory called UnitTests.
  MyFirstRepository.sln
  tests/UnitTests/Core/Enums/TestWeatherSummary.cs
  tests/UnitTests/Core/ServiceModels/TestWeatherForecast.cs
  tests/UnitTests/UnitTestUtilities.cs
  tests/UnitTests/UnitTests.csproj
Due: pipelines/DocCI.yml

Added Docker support.
  .dockerignore
  src/MyFirstRepository.Web/Dockerfile
  src/MyFirstRepository.Web/MyFirstRepository.Web.csproj
  src/MyFirstRepository.Web/Properties/launchSettings.json
Due: pipelines/CI.yml, pipelines/DocCI.yml

Simplified Dockerfile. Now using a single dotnet publish command to build and publish the entire application.
  src/MyFirstRepository.Web/Dockerfile
Due: pipelines/CI.yml, pipelines/DocCI.yml

Updated builds to perform a Docker image build. CI build also pushes image to container registry.
  pipelines/CI.yml
  pipelines/PullRequest.yml
Due: pipelines/CI.yml

Trying to debug new PullRequest build.
  pipelines/PullRequest.yml
Due: none

Trying to get docker build working.
  pipelines/PullRequest.yml
Due: none

Update PullRequest.yml for Azure Pipelines
  pipelines/PullRequest.yml
Due: none

Set Docker context directory.
  pipelines/CI.yml
  src/MyFirstRepository.Web/Dockerfile
Due: pipelines/CI.yml, pipelines/DocCI.yml

Added 'latest' tag to the image.
  pipelines/CI.yml
Due: pipelines/CI.yml

Changed docs folder to docfx to allow the use of the 'docs' folder for the GitHub wiki pages.
  MyFirstRepository.sln
  docfx/.gitignore
  docfx/api/.gitignore
  docfx/api/index.md
  docfx/articles/intro.md
  docfx/articles/toc.yml
  docfx/docfx.json
  docfx/index.md
  docfx/toc.yml
Due: none

Generating the documentation files in the docs folder.
  MyFirstRepository.sln
  docfx/docfx.json
  docs/api/MyFirstRepository.Core.Enums.WeatherSummary.html
  docs/api/MyFirstRepository.Core.Enums.html
  docs/api/MyFirstRepository.Core.ServiceModels.WeatherForecast.html
  docs/api/MyFirstRepository.Core.ServiceModels.html
  docs/api/MyFirstRepository.Core.ServicesConfiguration.html
  docs/api/MyFirstRepository.Core.html
  docs/api/MyFirstRepository.Infrastructure.ServiceConfiguration.html
  docs/api/MyFirstRepository.Infrastructure.html
  docs/api/MyFirstRepository.Web.Controllers.WeatherForecastController.html
  docs/api/MyFirstRepository.Web.Controllers.html
  docs/api/MyFirstRepository.Web.Program.html
  docs/api/MyFirstRepository.Web.Startup.html
  docs/api/MyFirstRepository.Web.html
  docs/api/index.html
  docs/api/toc.html
  docs/articles/intro.html
  docs/articles/toc.html
  docs/favicon.ico
  docs/fonts/glyphicons-halflings-regular.eot
  docs/fonts/glyphicons-halflings-regular.svg
  docs/fonts/glyphicons-halflings-regular.ttf
  docs/fonts/glyphicons-halflings-regular.woff
  docs/fonts/glyphicons-halflings-regular.woff2
  docs/index.html
  docs/logo.svg
  docs/manifest.json
  docs/search-stopwords.json
  docs/styles/docfx.css
  docs/styles/docfx.js
  docs/styles/docfx.vendor.css
  docs/styles/docfx.vendor.js
  docs/styles/lunr.js
  docs/styles/lunr.min.js
  docs/styles/main.css
  docs/styles/main.js
  docs/styles/search-worker.js
  docs/toc.html
  docs/xrefmap.yml
Due: none
